*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
}
@media screen and (max-width:576px){
    .section{
        .container{
            justify-content: center;
        }
    }
}