.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border:  1px solid black;
    width: 300px;
    padding: 20px 0px;
    img{
        width: 90%;
    }
}
@media screen and (max-width:576px){
    .card{
        width: 90%;
    }
}